@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
   --color-primary:#221f3b ;
   --color-secondary: #6f4a8e;
   --color-dark: #050505;
   --color-shadow-light:#8a898f ;
   --color-light: #ebebeb;
   --color-lighter: #fff;
}

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--color-light);
   color: var(--color-dark);
   font: 400 14px Roboto, sans-serif;
   -webkit-font-smoothing: antialiased;
   overflow-x: hidden;
}

input, button, textarea {
   font: 400 1.1rem Roboto, sans-serif;
}

button {
   cursor: pointer;
}

